.container{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    position: sticky;
    top: 2px;
    background-color: rgba(133, 138, 136, 0.568);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: 2px solid black; 
}
.nb{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    font-family: 'Lobster', cursive;
    font-size: 14px;
    align-items: center;    
}

.nb h2{
    font-weight: lighter;
    color: #f04393;
}

.nb .btn {
    width: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nb button{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;
    background-color: #f04393;
}

