.con{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.con input{
    height: 30px;
    margin-right: 5px;
    border-radius: 10px;
    border: none;
    color: black;
    background-color: #ad3c9aab;
}

::placeholder {
    color: black;
    padding-left: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

.con button{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    align-items: center;
    border: none;
    background-color: #c5179f;
    color: black;
}